__pycache__/*
uploads/*
.DS_Store
log.txt
final_json_res
final_res
google_scholar_res
node_modules
pdf_info
prisma
review_data
sholar
final_json_res.zip
package-lock.json
package.json
paper.tar.gz
res.json
.vscode
__pycache__
uploads
out/*
out
log
parse_res
.final_json_res.zip.icloud
.paper.tar.gz.icloud
test.json
sectionLocate.json
output.xml
output.json
.idea
*.iml
.venv
.venv/*
.env-de